.banner {
  height: fit-content;
  background-color: rgb(40, 44, 52);
  color: rgb(255, 255, 255);

  .inner {
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  & > div {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &::before {
      content: ' ';
      position: absolute;
      inset: 0px;
      z-index: 0;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjZmZmIi8+CiAgPGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K);
      background-repeat: no-repeat;
      background-position: 100% 100px;
      background-size: 50%;
      opacity: 0.05;
    }
  }

  h1 {
    color: rgb(97, 218, 251);
    text-align: center;
    margin: 0px;
    font-size: 60px;
  }

  p {
    padding-top: 20px;
    font-size: 30px;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}

.btn-left {
  font-size: 20px;
  display: inline-block;
  background-color: rgb(97, 218, 251);
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  white-space: nowrap;
  transition: background-color 0.2s ease-out 0s;

  &:hover {
    background-color: #fff;
  }
}

.btn-right {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(97, 218, 251);
  transition: color 0.2s ease-out 0s;
  font-size: 20px;
  background: none;

  &:hover {
    color: #fff;
  }

  svg {
    margin-left: 10px;
  }
}

.descriptions {
  .inner {
    display: flex;
    width: 100%;
    margin-top: 60px;
  }

  .col {
    margin-left: 40px;
    box-orient: vertical;
    box-direction: normal;
    flex-direction: column;
    flex: 0 1 33%;

    &:first-of-type {
      margin-left: 0;
    }

    h3 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #6b6b6b;
      padding-top: 0;
      font-weight: 300;

      &::before {
        content: ' ';
        display: block;
        padding-top: 90px;
        margin-top: -45px;
      }
    }

    div {
      flex: 1;
    }

    p {
      font-size: 17px;
      margin-top: 30px;
      max-width: 380px;
      line-height: 1.7;
    }
  }
}

hr {
  height: 1px;
  margin-bottom: -1px;
  border: none;
  border-bottom: 1px solid #ececec;
  margin-top: 40px;
}
